<div >    
  <table>
    <tr><h4>{{ forexItem.ticker }}</h4></tr>
    <tr><td><label>Bid:</label></td><td><label>{{ forexItem.bid }}</label></td></tr> 
    <tr><td><label>Ask:</label></td><td><label>{{ forexItem.ask }}</label></td></tr>  
    <tr><td><label>Open:</label></td><td><label>{{ forexItem.open }}</label></td></tr>  
    <tr><td><label>Low:</label></td><td><label>{{ forexItem.low }}</label></td></tr>  
    <tr><td><label>High:</label></td><td><label>{{ forexItem.high }}</label></td></tr>  
    <tr><td><label>Changes:</label></td><td><label>{{ forexItem.changes }}</label></td></tr>  
    <tr><td><label>Date:</label></td><td><label>{{ forexItem.date }}</label></td></tr>  
  </table>
</div>
   
 
 
  

