<div>
  <div class="app-currency-input" style="float: left;" >
    <form width="100%" [formGroup]="currencyInputForm" (ngSubmit)="onCurrencyInput(currencyInputForm.value)">
      <div width="100px">
        <label for="ticker">FX Symbol </label>
        <input id="ticker" type="text" formControlName="ticker" >
      </div>
      <label style="color: tomato;">{{error}}</label>   
      <button class="button" type="submit">Search</button>
    </form>
  </div>
  <div class="app-currency-output" style="float: right;" [style.visibility]="(showCurrencyOutput) ? 'visible' : 'hidden'">
    <app-currency-output [forexItem]="forexItem"></app-currency-output> 
  </div>
</div>