@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 190px;
 
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  /* width: 100%; */
  width: 100px;
  font-size: 14px;
  border-radius: 2px;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #BDBDBD;
}

input.myCheckbox {
  /* width: 100%; */
  width: 20px;
  border-radius: 2px;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 1px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.button, button {
  /* width: 100%; */
  width: 100px;
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}


app-top-header {
  width: 100%;
  height: 60px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-currency-input {
  padding-top: 100px;
  width: 100%;
  height: 68px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

app-currency-output {
  width: 100%;
  height: 68px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

app-top-header h1 {
  color: white;
  margin: 0;
}

app-live-wall {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: inline-end;
  min-height: 190;
  /* align-items: unset */
}




